/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
a {
  color: #fff;
  transition: all .3s;
}
p {
  line-height: 1.5;
  margin: 0.75em 0;
}

/* HEADER STYLES */
.header {
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  /* background-color: white; */
  box-sizing: border-box;
  display: block;
  height: 10vh;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 10vh;
  transition: all .3s;
}
.header-logo:hover,
.header-logo:active {
  background-color: #0085AC;
  transition: all .3s;
}
.header-logo img {
  width: 7vh;
}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.nav-links a,
.drop-trigger
.show-mobile-menu {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#header-scroll.small {
  background-color: #fff;
  margin-top: -20px;
  transition: all 0.25s ease-in-out;
}
#header-scroll.small img {
  margin-top: 10px;
  transition: all 0.25s ease-in-out;
}
#header-scroll.small a {
  color: #000;
  transition: all 0.25s ease-in-out;
}
#header-scroll.default {
  margin-top: 0;
  transition: all 0.25s ease-in-out;
}
#header-scroll.default img {
  margin-top: 0;
  transition: all 0.25s ease-in-out;
}
#header-scroll.default a {
  color: #fff;
  transition: all 0.25s ease-in-out;
}
#header-scroll.default a:hover,
#header-scroll.default a:active {
  color: #0085AC;
}
#header-scroll.small a:hover,
#header-scroll.small a:active {
  color: #0085AC;
}
.header-nav > li a:hover,
.header-nav > li a:active {
  color: #0085AC;
  transition: all .3s;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* FOOTER STYLES */
.footer {
  padding: 10vh 0 15vh;
  text-align: center;
}
.footer-logo {
  z-index: 6;
}
.footer-logo img {
  width: 50px;
}
.footer h3 {
  color: #fff;
  padding-top: 1.5em;
  text-transform: uppercase;
}
.footer-nav li {
  display: inline-block;
  margin: 2em 1em 0;
}
.footer-nav a {
  color: #ccc;
  transition: all .3s;
}
.footer-nav a:hover,
.footer-nav a:active {
  color: #0085AC;
  transition: all .3s;
}
.footer .social-list {
  margin-top: 2em;
}

/* HERO STYLES */
.full-hero {
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}
.full-hero h1 {
  color: white;
}
.full-hero h3 {
  color: white;
  margin-top: 1em;
}
.hero-home {
  background-image: url(/personal_website/images/space-background.jpg);
  background-position: center top;
}
.hero-content {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}
.scrollDown::after {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 20%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
.scrollDown a {
  padding-top: 60px;
}
.scrollDown a span {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  z-index: 5;
  transition: all .3s;
}
.scrollDown a span:hover,
.scrollDown a span:active {
  opacity: 0.5;
  transition: all .3s;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
.particles-js-canvas-el {
  position: relative;
  top: -22.3vh;
}

/* SOCIAL STYLES */
.social-link {
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  height: 1.5em;
  line-height: 1;
  padding-top: 0.7em;
  vertical-align: middle;
  width: 1.5em;
  transition: all .3s;
}
.social-link:hover,
.social-link:active {
  color: #0085AC;
  transition: all .3s;
}
.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}

/* HOMEPAGE STYLES */
.home-section {
  margin: 6rem auto;
  max-width: 980px;
  width: 90vw;
}
.home-section h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.home-section h4 {
  margin-bottom: 0.5em;
  text-align: center;
}

/* BIO STYLES */
.bio-wrapper {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
}
.bio-box {
  box-sizing: border-box;
  float: right;
  font-size: 1rem;
  margin: 6rem 0 0;
  padding: 0 3%;
  width: 33%;
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  /* opacity: 0; */
  /* will-change: opacity; */
}
.bio-wrapper img {
  width: 30%;
  /* opacity: 0; */
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  will-change: opacity;
}
.is-visible {
  opacity: 1;
}

@media (max-width: 800px) {
  /* HEADER STYLES */
  #header-scroll.small {
    margin-top: 0;
  }
  #header-scroll.small img {
    margin-top: 0;
  }
  #header-scroll.default a {
    color: #000;
  }
  .top-nav {
    /* border-bottom: 1px solid #ddd; */
    height: 60px;
    position: relative;
    background: white;
  }
  .header-nav {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding-top: 0;
  }
  .header-nav::before {
    background: rgba(0,0,0,.5);
    content: '';
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all .3s;
  }
  .header-nav > li {
    border-bottom: 2px solid #ddd;
    display: block;
    text-align: center;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all .3s;
  }
  .header-nav > li a {
    background: #fff;
    color: #404040;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 20px;
    text-align: right;
    transition: all .3s;
  }

  /* Hidden checkbox to trigger mobile nav */
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  input[type="checkbox"]:checked + label {
    border: 4px solid silver;
    border-radius: 50%;
    height: 28px;
    top: 16px;
    right: 18px;
    width: 28px;
    transform: rotate(-135deg);
  }
  input[type="checkbox"]:checked + label::before {
    background: silver;
    top: 12px;
    left: 8px;
    width: 12px;
  }
  input[type="checkbox"]:checked + label::after {
    background: silver;
    opacity: 1;
    top: 12px;
    left: 8px;
    visibility: visible;
    width: 12px;
  }
  input[type="checkbox"]:checked + label:hover {
    border-color: #0085AC;
  }
  input[type="checkbox"]:checked + label:hover::before,
  input[type="checkbox"]:checked + label:hover::after {
    background: #0085AC;
  }
  input[type="checkbox"]:checked ~ .header-nav::before {
    opacity: 1;
    visibility: visible;
  }
  input[type="checkbox"]:checked ~ .header-nav li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  input[type="checkbox"]:checked ~ .header-nav li:nth-child(1) {
    transition-delay: 0s;
  }
  input[type="checkbox"]:checked ~ .header-nav li:nth-child(2) {
    transition-delay: 0.1s;
  }
  input[type="checkbox"]:checked ~ .header-nav li:nth-child(3) {
    transition-delay: 0.2s;
  }
  input[type="checkbox"]:checked ~ .header-nav li:nth-child(4) {
    transition-delay: 0.3s;
  }

  /* Styling of the linked label element */
  .show-mobile-menu {
    background: none transparent;
    border: 4px solid #0085AC;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    top: 18px;
    width: 24px;
    transition: all .2s;
    right: 20px;
  }
  .show-mobile-menu::before {
    background: #0085AC;
    content: '';
    height: 4px;
    right: 0;
    position: absolute;
    top: 8px;
    width: 24px;
    transition: all .2s;
  }
  .show-mobile-menu::after {
    background: #0085AC;
    content: '';
    height: 4px;
    right: 0;
    position: absolute;
    top: 8px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all .2s;
  }

  /* HERO STYLES */
  .particles-js-canvas-el {
    position: relative;
    top: -15.5vh;
  }
}
