<head>
  {% if page.title %}
    <title>{{ page.title }} | Philip Ma</title>
    <meta property="og:title" content="{{ page.title }} | Philip Ma">
  {% else %}
    <title>Philip Ma</title>
    <meta property="og:title" content="Philip Ma">
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="This is Philip Ma's personal site.">
    <meta property="og:description" content="This is Philip Ma's personal site.">
  {% endif %}
  <link rel="icon" href="{{ site.baseurl }}/images/logo.png">
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/31b8c360f1.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width,  initial-scale=1">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/31b8c360f1.js" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/scroll.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js">
  </script>
  <!-- <script src="/node_modules/particles.js"></script> -->
  <script src="{{ site.baseurl }}/js/app.js"></script>
  <script src="{{ site.baseurl }}/js/down_arrow.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      scrollEffect();
      arrow_animation();
    });
  </script>
</head>
